// .css-h1uwv9-MuiPaper-root-MuiAppBar-root {
//     background-color: transparent !important;
// }

.pitcherfiles p{
    color:rgb(129, 129, 129) ;
    font-size: 12px;
    font-weight: 600;
}
.css-rizt0-MuiTypography-root{
    font-size: 12px !important;
}